.booking {
    background-color: white;
    height: 400px;
    .booking-content {
        .title-booking {
            padding: 25px 0;
            display: flex;
            gap: 44px;
            align-items: center;
            .booking-icon {
                width: 115px;
                height: 115px;
            }
            .title-booking-content {
                .title-booking-one {
                    color: #000;
                    font-family: Saira Condensed;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-transform: uppercase;
                }
                .title-booking-two {
                    color: red;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-transform: uppercase;
                }
                .title-booking-three {
                    color: #000;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
        .form-booking {
            margin: 0;
            // gap:15px;
            .form-text {
                border: 1px solid black;
                width: inherit;
                padding: 10px;
                border-radius: 15px;
                text-align: center;
            }
        }
        .button-form-booking {
            width: 162px;
            height: 53px;
            border-radius: 15px;
            background-color: red;
            color: white;
            border: none;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 25px;
        }
        .button-form-booking:hover {
            color: white !important;
            background: var(--red, rgb(203, 19, 19));
        }
    }
}
@media only screen and (max-width: 600px) {
    .booking {
        background-color: white;
        height: auto;
        padding-bottom: 15px;
        .booking-content {
            .title-booking {
                padding: 15px 0;
                display: flex;
                gap: 15px;
                align-items: unset;
                .booking-icon {
                    width: 115px;
                    height: 115px;
                }
            }
            .form-booking {
                .form-text {
                    max-width: 100%;
                }
                .booking-mobile{
                    gap:15px;
                    display:flex;
                    flex-direction: column;
                }
            }
        }
    }
}
