.cars {
    .cars-content {
        .title-cars {
            padding-left: 10px;
            border-left: 4px solid red;
            .title-cars-above {
                color: #000;
                font-size: 30px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
            }
            .title-cars-under {
                color: #000;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        .list-cars {
            display: flex;
            align-items: center;
            margin: 25px 0;
            .slick-list {
                .slick-track {
                    display: flex;
                    align-items: center;
                }
            }
            .item-cars {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                .cars-image-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%; /* Đảm bảo slide chiếm đầy đủ chiều cao của container */
                }
                .item-name-cars {
                    display: flex;
                    justify-content: center;
                    padding: 10px 0;
                    color: #000;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-transform: uppercase;
                }
                .cars-image {
                    width: 100%;
                    height: auto;
                    border-radius: 30px;
                }
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .cars {
        .cars-content {
            .list-cars {
                .item-cars {
                    width: 100%;
                }
            }
        }
    }
}
