.feedbacks {
    .feedbacks-content {
        .title-feedbacks {
            padding-left: 10px;
            border-left: 4px solid red;
            .title-feedbacks-above {
                color: #000;
                font-size: 30px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
            }
            .title-feedbacks-under {
                color: #000;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
    .board-feedbacks {
        // padding: 0;
        margin: 25px 0;
        // gap: 10px;
        .board-left-feedback-information {
            // width: 32%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            padding: 20px 40px;
            border-radius: 15px;
            gap: 10px;
            .board-left-feedback-title-information {
                color: red;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
            }
            .board-left-feedback-content-information {
                display: flex;
                gap: 10px;
                align-items: center;
                .board-left-feedback-icon {
                    width: 35px;
                    height: 35px;
                }
                .board-left-feedback-desc-information {
                    color: #000;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
        .board-right-feedback-information {
            width: 67%;
            padding: 20px 40px;
            background-color: white;
            border-radius: 15px;
            gap: 10px;
            .board-right-feedback-title-information {
                display: flex;
                justify-content: center;
                color: red;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
            }
            .board-right-feedback-title-under-information {
                display: flex;
                justify-content: center;
                color: #000;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            .board-right-feedback-content {
                margin:10px 0;
                .board-right-list-feedbacks {
                    padding: 20px;
                    display:flex;
                    // align-items: center;
                    gap: 20px;
                    .board-right-image {
                        cursor:pointer;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                    }
                    .board-right-text {
                        display:flex;
                        flex-direction: column;
                        // gap:10px;
                        .board-right-text-above {
                            color: #000;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                        .board-right-text-under {
                            color: #000;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .feedbacks {
        .feedbacks-content {
            .title-feedbacks {
                border-left: 4px solid red;
                .title-feedbacks-above {
                    color: #000;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-transform: uppercase;
                }
                .title-feedbacks-under {
                    color: #000;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
        .board-feedbacks {
            .board-left-feedback-information {
                width: 100%;
                padding: 20px;
            }
            .board-right-feedback-information {
                width: 100%;
                padding: 20px;
                .board-right-feedback-content {
                    margin:10px 0;
                    .board-right-list-feedbacks {
                        padding: 20px 0;
                        gap: 20px;
                        .board-right-image {
                            width: 95px;
                            height: 95px;
                        }
                        .board-right-text {
                            gap:10px;
                        }
                    }
                }
            }
        }
    }
}