.footer {
    background: rgba(217, 217, 217, 0.78);
    height: auto;
    padding-bottom: 10px;
    .container {
        .logo {
            display: inline-flex;
            align-items: center;
            gap: 20px;
            .svg-logo {
                width: 80px;
                height: 80px;
                fill: rgba(255, 255, 255, 0);
            }
            .text-logo {
                width: auto;
                color: #fff;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
                .text-logo-color {
                    color: var(--red, #f00);
                }
            }
        }
        .content {
            display: inline-flex;
            align-items: center;
            gap: 520px;
            .content-hotline {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .content-desc {
                    color: #000;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-transform: uppercase;
                }
            }
            .content-commitment {
                width: 598px;
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .footer {
        .container {
            .content {
                display: flex;
                flex-direction: column;
                align-items: unset;
                gap: 15px;
                .content-hotline {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }
                .content-commitment {
                    width: auto;
                }
            }
        }
    }
}
