.prices {
    .prices-content {
        .title-prices {
            color: #000;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            padding-left: 10px;
            border-left: 4px solid red;
        }
        .table-prices {
            display: flex;
            justify-content: space-between;
            margin: 25px 0;
            // gap:10px;
            .table-prices-content {
                .title-table-prices {
                    width: -webkit-fill-available;
                    display: inline-flex;
                    padding: 5px 53px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 15px 15px 0px 0px;
                    background: #fff;
                    color: #000;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-transform: uppercase;
                }
                .content-table-prices {
                    display: flex;
                    justify-content: space-around;
                    padding: 10px;
                    background: rgba(255, 255, 255, 0.53);
                    .price-table {
                        color: red;
                    }
                }
                .content-table-prices:last-child {
                    border-radius: 0 0 15px 15px;
                }
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .prices {
        .prices-content {
            .title-prices {
                color: #000;
                font-size: 30px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
                padding-left: 10px;
                border-left: 4px solid red;
            }
            .table-prices {
                display: flex;
                justify-content: space-between;
                margin: 25px 0;
                gap:15px;
                .table-prices-content {
                    .title-table-prices {
                        padding: 5px 23px;
                        font-size: 16px;
                    }
                    .content-table-prices {
                        display: flex;
                        justify-content: space-around;
                        padding: 10px;
                        background: rgba(255, 255, 255, 0.53);
                        .price-table {
                            color: red;
                        }
                    }
                    .content-table-prices:last-child {
                        border-radius: 0 0 15px 15px;
                    }
                }
            }
        }
    }
}