.services {
    margin: 50px 0;
    .services-content {
        display: flex;
        // align-items: center;
        justify-content: space-between;
        margin:0 auto !important;
        .services-image {
            // padding:15px;
            // width: 650px;
            // height: 452px;
            border-radius: 15px;
        }
        .list-services {
            width: 550px;
            height: auto;
            flex-shrink: 0;
            border-radius: 15px;
            background: #fff;
            padding-bottom:10px;
            .title-services {
                margin: 25px;
                padding-left: 10px;
                border-left: 4px solid red;
                color: #000;
                font-size: 30px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
            }
            .content-services {
                display: flex;
                align-items: center;
                gap: 10px;
                margin: 0 25px 10px 25px;
                .services-icon {
                    width: 35px;
                    height: 35px;
                }
                .services-icon-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    color: #000;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }
}
.img-fluid{
    height: 512px !important;
}
@media only screen and (max-width: 600px) {
    .img-fluid{
        height: auto !important;
    }
    .services {
        .services-content { 
            gap:10px;
            .services-image {
                padding:0;
                width: auto;
                height: auto;
                border-radius: 15px;
            }
            .list-services {
                .title-services {
                    margin: 25px 5px;
                }
                .content-services {
                    margin: 10px 5px;
                    .services-icon {
                    }
                    .services-icon-content {
                    }
                }
            }
        }
    }
}
