* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Saira Condensed', sans-serif;
}
body{
  background-color: #EDEDED !important;
}

.row {
  width: 100%;
  margin: 0;
  padding: 0
}

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
  margin: 0;
  padding: 0
}

.container {
  margin: 0 auto;
  font-size: 16px;
}